html {
  background-color: white;
}

body { 
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  background-color:#efefef;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  
}

ul { 
  background-color: white;
  border: 5px solid purple;
  border-color: purple;
  border-radius: 20px;

  
}

a:link {
  color: green;
}

a:hover {
  color:darkgreen
}


h1 {
  color: darkslategray;
  border-bottom: dotted 10px purple;
  font-size: 2rem;
  
}

h2 {
  font-size: 1.5rem;
}

.job-title {

  color: darkslategray;
}