/* General setup */
@font-face {
    font-family:"NewsCycle";
    src: 
        url("Fonts/News_Cycle./News_Cycle-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "NewsCycle";
    src: url("Fonts/News_Cycle/NewsCycle-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "AlfaSlabOne";
    src: url("Fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */



header {
  border-bottom: 5px solid #aa6666;
  font-family: "NewsCycle", sans-serif;
  font-weight: bold;
  text-align: center;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

h2 {
  font-family: "AlfaSlabOne", sans-serif;
  font-weight: bold;
  text-align: center;
}